@model IEnumerable<ProjMvcBoletim.Models.Boletim>

@{
    ViewData["Title"] = "Index";
}

<h1>Boletim do Aluno</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bimestre1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bimestre2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bimestre3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bimestre4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aluno.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina.NomeDisciplina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Media)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bimestre1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bimestre2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bimestre3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bimestre4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aluno.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disciplina.NomeDisciplina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Media)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Situacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
